


body{
    
    margin-top: 25px;
    border-radius: 50px;
    text-align:center;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    background: #ebdede; 
    box-shadow: 3px 2px 3px 3px rgba(174, 148, 148, 0.8);
   width: 250px;
    margin: 8% auto 0;
    background: #ffffff; 
    margin-bottom: 380px;
}






